<div class="sidebar">
 <div align="center"><h4>Welcome!</h4> </div> <div align="justify ">
This is a place for thoughts– particularly exploring the topics of art, productivity, science, and society. 
<br> <br> 
<div align="center">
  <div class="ssk-s ssk-group">
    <div style="color:grey"> 
   <a href="https://www.facebook.com/allisonkufta.art/" target="_blank"><i class="fab fa-facebook"></i>
   <a href="https://www.twitter.com/akufta" target="_blank"><i class="fab fa-twitter"></i>
   <a href="https://instagram.com/akufta.art" target="_blank"><i class="fab fa-instagram"></i>
   <a href="https://www.behance.net/allisonkufta" target="_blank"><i class="fab fa-behance"></i> </a>
   <a href="https://www.pinterest.com/4kufta/" target="_blank"><i class="fab fa-pinterest"></i> </a>
   </div></div> 
<br>

<a target="_blank" href="http://shareasale.com/r.cfm?b=1100776&amp;u=1572869&amp;m=31260&amp;urllink=&amp;afftrack="><img src="https://i.shareasale.com/image/31260/FW22-B_Black-Friday_PaidAssets_200X200.jpg" border="0" /></a>
</div><br>
</small> </div> </div> 
